
@font-face {
    font-family: "Bebas";
    src: url("../../fonts/BEBAS___-webfont.eot");
    src: url("../../fonts/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"),
         url("../../fonts/BEBAS___-webfont.woff") format("woff"),
         url("../../fonts/BEBAS___-webfont.ttf") format("truetype"),
         url("../../fonts/BEBAS___-webfont.svg#bebasregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
 html, body{
  /*prevent horizontal scrolling */
  overflow-x: hidden;
  margin: 0px;
}
body{
	font-family: Andale Mono, monospace;
  width: 100vw;
  height: 100vh;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
/*
HOME
**************************************************/

.contenedor_datos{
  position: absolute;
  top: 0px;
  left:0px;
  padding: 30px; 
  font-size: 0.7em;
  max-width: 33%;
}
.logo_portada{
  font-family: "Bebas", Helvetica, sans-serif;
  font-size: 2em;
  /*Código para centrar el elemento en la pabtalla*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}
.datos{
  line-height: 0.5;
  text-transform: lowercase;
}
.arquitectura{
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.flu-or_entexto{
  font-family: "Bebas", Helvetica, sans-serif;
}
.contenido_acordeon{
  padding-bottom: 3px;
}

.flu-or/*,.flu-or_interior*/{
	font-family: "Bebas", Helvetica, sans-serif;
	font-size: 0.6em;
}
.flu-or a h1/*,.flu-or_interior a h1*/{
  display: inline;
}
.arquitectura p{
	line-height: 1.5;
	text-transform: uppercase;
	display: inline;
}
.datos_contacto{
	line-height: 0.5;
	text-transform: uppercase;
}
.mail{
	text-transform: lowercase;
	color: black;
}
.telefono{
	text-decoration: none;
	color: black;
}
.direccion{
	text-decoration: none;
	color: black;
}
/*
PROYECTOS
**************************************************/
.fondo_proyectos{ 
	width: 100%;
	height: 100%;
    background: url(../../img/img_jpg/mesaO_1.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.menu_proyectos, .menu_proyectos_portada{
  position: absolute;
	margin-top: 3%;
	margin-left: 5%;
	font-size: 0.58em;
  top: 0px;
  z-index: 8;
}
.proyectos ul{
	list-style: none;
	padding: 0;
}
.proyectos ul li{
	text-transform: uppercase;
	line-height: 1.3;
}
.proyectos ul li a:hover{
 color: #FFF;
}
/*
SLIDER 
*************************************************/
#informacion{
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  z-index: 7;
  font-size: 0.58em;
  opacity: 1;
}
.texto_proyecto{
  font-family: "Bebas", Helvetica, sans-serif;
}
.forma_texto{
  max-width: 80%;
  margin: 20% auto;
}
.forma_texto p{
  width: 100%;
  opacity: 1;
}
.forma_texto h3{
  font-family: "Bebas", Helvetica, sans-serif;
  right: 30%;
  position: absolute;
}
.plano{
  position: absolute;
  bottom: 15%;
}
.plano img{
  width: 100%;
}

.dcha{
  position: absolute;
  top:3%;
  right: 4%;
  z-index: 8;
}
.izq{
  position: absolute;
  top:3%;
  right: 87%;
  z-index: 8;
  font-family: "Bebas", Helvetica, sans-serif;
  font-size: 1em;
}
.cerrar a{
  font-size: 1.5em;
  text-decoration: none;
}

.slideme {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.arrow{
padding: 0;
border: 0;
width: 40px;
position: absolute;
height: 40px;
right: 15px;
bottom: 10px;
z-index: 7;
color: black;
background-color: rgba(0,0,0,0);
font-size: 1.3em;
}
.prev{
  right: 65px;
}
.btn_esconder{
  color: black;
}
/*============MOITO CONTO==================*/
#slider_mc{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mc .uno{background: url(../../img/img_jpg/mesaIII_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mc .dos{background: url(../../img/img_jpg/mesaIII_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MESA O==================*/
#slider_mesaO{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mesaO .uno{background: url(../../img/img_jpg/mesaO_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mesaO .dos{background: url(../../img/img_jpg/mesaO_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MESA III=============*/
#slider_mesaIII{
	position: absolute;
	width: 100%;
	height: 100%;
}
/*FOTOS*/
#slider_mesaIII .uno{background: url(../../img/img_jpg/mesaIII_1.jpg) no-repeat center center fixed;	-webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover; background-size: cover;}
#slider_mesaIII .dos{background: url(../../img/img_jpg/mesaIII_2.jpg) no-repeat center center fixed; -webkit-background-size: cover;	-moz-background-size: cover; -o-background-size: cover;	background-size: cover;}
#slider_mesaIII .tres{background: url(../../img/img_jpg/mesaIII_3.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;	-o-background-size: cover; background-size: cover;}

/*============MESA L==================*/
#slider_mesa_l{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mesa_l .uno{ background: url(../../img/img_jpg/mesaL_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mesa_l .dos{background: url(../../img/img_jpg/mesaL_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============LÁMPARA==================*/
#slider_lampara{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_lampara .uno{background: url(../../img/img_jpg/lampara_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lampara .dos{background: url(../../img/img_jpg/lampara_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============LÁMPARA L=============*/
#slider_lamparaL{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_lamparaL .uno{background: url(../../img/img_jpg/lamparaL_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_lamparaL .dos{background: url(../../img/img_jpg/lamparaL_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .tres{background: url(../../img/img_jpg/lamparaL_3.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .cuatro{background: url(../../img/img_jpg/lamparaL_4.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .cinco{background: url(../../img/img_jpg/lamparaL_5.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_lamparaL .seis{background: url(../../img/img_jpg/lamparaL_6.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}


/*============DIEGO ESTRADA==================*/
#slider_diego{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_diego .uno{ background: url(../../img/img_jpg/mesaIII_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_diego .dos{ background: url(../../img/img_jpg/mesaIII_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
/*VIDEO*/
video#bgvid { background: url(polina.jpg) no-repeat; position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; background-size: cover;}

/*============TE=============*/
#slider_te{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_te .uno{background: url(../../img/img_jpg/te_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_te .dos{background: url(../../img/img_jpg/te_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .tres{background: url(../../img/img_jpg/te_3.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .cuatro{background: url(../../img/img_jpg/te_4.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .cinco{background: url(../../img/img_jpg/te_5.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_te .seis{background: url(../../img/img_jpg/te_6.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .siete{background: url(../../img/img_jpg/te_7.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============OTRAS NATURALEZAS==================*/
#slider_naturalezas{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_naturalezas .uno{background: url(../../img/img_jpg/naturalezas_1.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_naturalezas .dos{background: url(../../img/img_jpg/naturalezas_2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*
ANIMACIONES
***********************************************/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes  fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
  	opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
  .animacion_haciaderecha {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  .elemento_animado {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 0.3s;
    -o-animation-timing-function: ease-in;
    -o-animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }



/************************************************Estilos del index_lateral**********************************************/
/*=========================================================================================================================*/

/* -------------------------------- 

Main Components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.navigation-is-open main {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}


/*ESTA PARTE DEL CÓDIGO DEFINE LA PANTALLA DE PROYECTOS*/
.pagina_proyectos {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.pagina_proyectos  .pag_proyectos_wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .pagina_proyectos {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .pagina_proyectos .pag_proyectos_wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .pagina_proyectos {
  position: static;
  visibility: visible;
}
.no-js .pagina_proyectos .pag_proyectos_wrapper  {
  height: auto;
  overflow: visible;
  /*padding: 100px 5%;*/
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}


/*=========================================================================================================================*/
/*=========================================================================================================================*/

.navigation-is-open #interaccion_proyecto{
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/*ESTA PARTE DEL CÓDIGO DEFINE LA PANTALLA DE PROYECTOS*/

.pagina_proyectos  .portada_desde_proyectos {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  left:0;
  -webkit-overflow-scrolling: touch;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}


