
@font-face {
    font-family: "Bebas";
    src: url("../fonts/BEBAS.woff") format("woff");
    src: url("../fonts/BEBAS.ttf") format("truetype");
}
@font-face {
    font-family: "AndaleMono2";
    src: url("../fonts/ANDALE_MONO2.woff") format("woff");
    src: url("../fonts/ANDALE_MONO2.ttf") format("truetype");
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
body{
	font-family: "AndaleMono2", helvetica, sans-serif;
}
ul li{
  list-style: none;
}
/*
HOME
**************************************************/
.tarjeta{
	margin-top: 3%;
	margin-left: 5%;
	font-size: 0.58em;
}
.flu-or/*,.flu-or_interior*/{
	font-family: "Bebas", helvetica, sans-serif;
	font-size: 0.6em;
	margin-bottom: 25px;
}
.flu-or a h1/*,.flu-or_interior a h1*/{
  display: inline;
}
.arquitectura p{
	line-height: 1.5;
	text-transform: uppercase;
	display: inline;
}
.datos_contacto{
	line-height: 0.5;
	text-transform: uppercase;
}
.mail{
	text-transform: lowercase;
	color: black;
}
.telefono{
	text-decoration: none;
	color: black;
}
.direccion{
	text-decoration: none;
	color: black;
}
/*
PROYECTOS
**************************************************/
.fondo_proyectos{ 
	width: 100%;
	height: 100%;
    background: url(../img/mesaO_1.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.flu-or a{
	text-decoration: none;
	color: black;
}
.menu_proyectos{
  position: absolute;
	margin-top: 3%;
	margin-left: 5%;
	font-size: 0.58em;
  top: 0px;
  z-index: 8;
}
.proyectos ul{
	list-style: none;
	padding: 0;
}
.proyectos ul li{
	text-transform: uppercase;
	line-height: 1.3;
}
.proyectos ul li a{
	text-decoration: none;
	color: black;
}

.proyectos ul li a:hover{
 color: #FFF;
}

/*
SLIDER 
*************************************************/
#informacion{
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  z-index: 7;
  font-size: 0.58em;
  opacity: 1;
  /*mix-blend-mode: multiply;*/
}
.forma_texto{
  max-width: 80%;
  margin: 20% auto;
}
.forma_texto p{
  width: 100%;
  opacity: 1;
}
.forma_texto h3{
  font-family: "Bebas", helvetica, sans-serif;
  right: 30%;
  position: absolute;
}
.plano{
  position: absolute;
  bottom: 0;
}
.plano img{
  width: 100%;
}

.dcha{
  position: absolute;
  top:3%;
  right: 4%;
  z-index: 8;
}
.izq{
  position: absolute;
  top:3%;
  right: 87%;
  z-index: 8;
  font-family: "Bebas", helvetica, sans-serif;
  font-size: 1em;
}
.cerrar a{
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.slideme {
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.arrow{
padding: 0;
border: 0;
width: 40px;
position: absolute;
height: 40px;
right: 15px;
bottom: 10px;
z-index: 7;
color: black;
background-color: rgba(0,0,0,0);
font-size: 1.3em;
}
.prev{
  right: 65px;
}
/*============MOITO CONTO==================*/
#slider_mc{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mc .uno{background: url(../img/mesaIII_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mc .dos{background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MESA O==================*/
#slider_mesaO{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mesaO .uno{background: url(../img/mesaO_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mesaO .dos{background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MESA III=============*/
#slider_mesaIII{
	position: absolute;
	width: 100%;
	height: 100%;
}
/*FOTOS*/
#slider_mesaIII .uno{background: url(../img/mesaIII_1.png) no-repeat center center fixed;	-webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover; background-size: cover;}
#slider_mesaIII .dos{background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover;	-moz-background-size: cover; -o-background-size: cover;	background-size: cover;}
#slider_mesaIII .tres{background: url(../img/mesaIII_3.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;	-o-background-size: cover; background-size: cover;}
#slider_mesaIII .cuatro{background: url(../img/mesaIII_4.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MESA L==================*/
#slider_mesa_l{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_mesa_l .uno{ background: url(../img/mesaL_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_mesa_l .dos{background: url(../img/mesaL_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============LÁMPARA==================*/
#slider_lampara{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_lampara .uno{background: url(../img/lampara_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lampara .dos{background: url(../img/lampara_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============LÁMPARA L=============*/
#slider_lamparaL{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_lamparaL .uno{background: url(../img/lamparaL_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_lamparaL .dos{background: url(../img/lamparaL_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .tres{background: url(../img/lamparaL_3.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .cuatro{background: url(../img/lamparaL_4.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_lamparaL .cinco{background: url(../img/lamparaL_5.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_lamparaL .seis{background: url(../img/lamparaL_6.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============MUEBLE M==================*/
#slider_muebleM{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_muebleM .uno{ background: url(../img/mesaIII_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_muebleM .dos{ background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============DIEGO ESTRADA==================*/
#slider_diego{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_diego .uno{ background: url(../img/mesaIII_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_diego .dos{ background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
/*VIDEO*/
video#bgvid { background: url(polina.jpg) no-repeat; position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; background-size: cover;}

/*============DIALOGO==================*/
#slider_dialogo{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_dialogo .uno{background: url(../img/mesaIII_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_dialogo .dos{background: url(../img/mesaIII_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============TE=============*/
#slider_te{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_te .uno{background: url(../img/te_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_te .dos{background: url(../img/te_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .tres{background: url(../img/te_3.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .cuatro{background: url(../img/te_4.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .cinco{background: url(../img/te_5.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
#slider_te .seis{background: url(../img/te_6.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_te .siete{background: url(../img/te_7.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*============OTRAS NATURALEZAS==================*/
#slider_naturalezas{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*FOTOS*/
#slider_naturalezas .uno{background: url(../img/naturalezas_1.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#slider_naturalezas .dos{background: url(../img/naturalezas_2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*
ANIMACIONES
***********************************************/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes  fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
  	opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
  .animacion_haciaderecha {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  .elemento_animado {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 0.3s;
    -o-animation-timing-function: ease-in;
    -o-animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }











